.hero-wraper {
  color: white;
  position: relative;
  padding-bottom: 2rem;
}

.hero-container {
  justify-content: space-around;
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
}

.hero-left {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  flex: 1;
}

.hero-title {
  position: relative;
  z-index: 1;
}

.hero-title > h1 {
  font-weight: 600;
  font-size: clamp(2rem, 6vw, 3.8rem);
  line-height: 1.2;
}

.orange-circle {
  height: 4rem;
  width: 4rem;
  background: var(--orange-gradient);
  border-radius: 999px;
  position: absolute;
  right: 4%;
  top: -7%;
  z-index: -1;
}

.hero-des {
  font-weight: 600;
}

.search-bar {
  padding: 0.5rem 1rem;
  justify-content: space-between;
  width: 100%;
  display: flex;
  gap: 0.5rem;
}

.search-bar > input {
  border: none;
  outline: none;
  flex: 1;
}

.stats {
  width: 100%;
  justify-content: space-between;
  font-weight: 600;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.stat > :nth-child(1) {
  font-size: 2rem;
}

.stat > :nth-child(1) > :last-child {
  color: orange;
}

.hero-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  width: 30rem;
  height: 35rem;
  overflow: hidden;
  border-radius: 15rem 15rem 0 0;
  border: 8px solid rgba(255, 255, 255, 0.12);
}

.image-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

/* Responsive */
@media (max-width: 640px) {
  .hero-container {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }

  .hero-title > h1 {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  .image-container {
    width: 95%;
    height: 25rem;
  }

  .stats {
    justify-content: center;
  }

  .stat > :nth-child(1) {
    font-size: 1.5rem;
  }

  .stat > :nth-child(2) {
    font-size: 0.8rem;
  }

  .paddings {
    padding: 1rem;
  }
}
